<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Crime Trends: 1975 to 2015</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>40-Year Crime and Safety Analysis of U.S. Cities</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('prop1') }}">Home</a></li>
                <li><a href="{{ url_for('prop2') }}">Data</a></li>
                <li><a href="{{ url_for('prop3') }}">Visualizations</a></li>
              
            </ul>
        </nav>
    </header>

    <main>
            <h1>Analyzing Crime Trends and Safety Across U.S. Cities (1975-2015)</h1>
            <img src="../static/Home_Page_Photo.png" alt="Description of image" style="display: block; margin: auto;">
         
    </main>

    <footer>
        <p>&copy; Group 7</p>
    </footer>   
</body>
</html>
