<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Links</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/map1">Full Map</a></li>
                <li><a href="/map_year">Map year</a></li>
                <li><a href="/crime_heatmap">Crime Map</a></li>
                <li><a href="/data">Data</a></li>
                <li><a href="/crime_map_2014">Crime 2014</a></li>
                <li><a href="/viz">Visualizations</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Prject overview</h2>
            <p>
                This project focuses on the changes in crime in major cities in the united states from 1975-2014.  
            </p>
        </section>
        <section>
            <h2>Data Sources</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consequatur ab in hic ducimus, eveniet quidem sit totam voluptas. Maiores, voluptatibus! Non, iste. Asperiores autem numquam nemo hic cumque porro. Down below are the links to wher the data is presented. </p>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Data</a></li>
                <li><a href="">Visualizations</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Your Website</p>
    </footer>
</body>
</html>