<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Crime Trends: 1975 to 2015</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>40-Year Crime and Safety Analysis of U.S. Cities</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('prop1') }}">Home</a></li>
                <li><a href="{{ url_for('prop2') }}">Data</a></li>
                <li><a href="{{ url_for('prop3') }}">Visualizations</a></li>
              
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Analyzing Crime Trends and Safety Across U.S. Cities (1975-2015)</h1>
            <br>

<p><strong>Project Description:</strong><br>
As a group, we’ve analyzed crime data across major U.S. cities from 1975 to 2015, aiming to provide a clearer picture of crime trends and their impact on communities. Using data sourced from the FBI’s Uniform Crime Reporting (UCR) program, we explore how crime rates have changed over time, identifying cities with the highest and lowest crime rates. Our project highlights cities that have seen the most progress in crime reduction and those that continue to face significant challenges. The goal is to offer insights that can guide decisions for families, policymakers, and others concerned with urban safety.</p>

<h3>Goals</h3>
<ul>
    <li><strong>BLANK:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, accusamus aspernatur. Sed saepe amet sint nisi, adipisci magni minima ipsum, nihil aperiam itaque ut molestias esse, eum labore minus mollitia.</li>
    <li><strong>BLANK:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, facere. Modi possimus neque quam nihil numquam, officiis, officia nulla voluptates laborum saepe voluptatibus vel magnam ea corrupti quidem! Error, molestias.</li>
    <li><strong>BLANK:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam sit earum praesentium veritatis debitis quidem facere ipsa pariatur, neque ex, ut officiis quaerat alias fuga, vel id deleniti labore qui!</li>
</ul>



    </main>

    <footer>
        <p>&copy; 2024 Your Website</p>
    </footer>   
</body>
</html>
