<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Crime Trends: 1975 to 2015</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>40-Year Crime and Safety Analysis of U.S. Cities</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('prop1') }}">Home</a></li>
                <li><a href="{{ url_for('prop2') }}">Data</a></li>
                <li><a href="{{ url_for('prop8') }}">Code</a></li>
                <li><a href="{{ url_for('prop3') }}">Visualizations</a>
                <li><a href="{{ url_for('prop7') }}">Analysis</a>
                </li>
              
            </ul>
        </nav>
    </header>

    <main>
        <img src="../static/cityscape1.png" alt="Description of image" style="display: block; margin: auto;">
        
        
        <section>
            <h1>Analyzing Crime Trends and Safety Across U.S. Cities (1975-2015)</h1>
            <br>

            <h3><strong>Project Description:</strong></h3><br>
            Our team conducted an in-depth analysis of crime data across major U.S. cities from 1975 to 2015, utilizing data from the FBI's Uniform Crime Reporting (UCR) program to uncover crime trends and their impact on urban communities. By examining these trends, we identify areas where crime rates have improved and those where challenges persist. Our goal is to provide actionable insights that can help families, policymakers, and urban planners make informed decisions about safety and urban development. This project explores both the rise and fall of crime rates, highlights regional variations, and sheds light on the safest and most dangerous places to live in the U.S.            </section>

            <section>
            <h2>Goals</h2>
            
                <ul>
                    <ul>
                        <li><strong>Explore Crime Hot Spots and Trends:</strong> Delve into crime data from 1975 to 2015 to uncover high-risk areas and evolving crime hot spots across major U.S. cities. This analysis provides a deeper understanding of where crime has concentrated over the years, highlighting both persistent challenges and emerging trends in urban safety.</li>
                        
                        <li><strong>Assess Crime Improvement in Key U.S. Cities:</strong> Dive into detailed crime data from 1975 to 2015 to evaluate whether crime rates in specific cities have improved or worsened over time. This analysis highlights cities making strides in safety, as well as those facing ongoing challenges, offering a comprehensive look at long-term urban crime trends.</li>
                        
                        <li><strong>Identify the Safest Cities to Raise a Family:</strong> Highlight cities with the lowest crime rates and those that have shown significant progress in crime reduction, offering insights on safe urban areas ideal for families.</li>
                        
                        <li><strong>Provide Actionable Insights:</strong> Offer insights that can help families, policymakers, and community leaders make informed decisions regarding urban safety, resource allocation, and policy development.</li>
                      </ul>
                      
                </ul>
            </section>
    </main>

    <footer>
        <p>&copy; Group 7</p>
    </footer>   
</body>
</html>
