<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Safety Rankings</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <header>
        <h1>Data Visualizations</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('prop1') }}">Home</a></li>
                <li><a href="{{ url_for('prop2') }}">Data</a></li>
                <li><a href="{{ url_for('prop3') }}">Visualizations</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <a href="{{ url_for('prop3') }}" class="button-link">
            <button>Back to Crime Visualizations</button>
        </a>
        <!-- City Safety Map  -->
        <section class="fade-in">
            <h2>Interactive City Safety Map</h2>
            <p>Explore city safety rankings with this interactive map. Click on a city to view detailed crime statistics and insights.</p>
            <iframe src="{{ url_for('static', filename='safest_cities.html') }}" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Your Website</p>
    </footer>
</body>
</html>
